[submodule "src/core"]
	path = src/core
	url = git@github.com:tsaah/core.git
	branch = development
[submodule "src/database"]
	path = src/database
	url = git@github.com:tsaah/database.git
	branch = master
[submodule "src/warden_modules"]
	path = src/warden_modules
	url = git@github.com:tsaah/warden_modules.git
	branch = master
[submodule "src/fusiongen"]
	path = src/fusiongen
	url = https://gitlab.com/omghixd/fusiongen.git
	branch = master
